﻿<div class="block setting">
 
	<form method="post" enctype="multipart/form-data">
		<div class="string">
			<span class="center">{$item.name|default:"Мероприятие отсутствует"}</span>
		</div>
		<div class="string">
			<span class="center">
      <a class="button" href="{$host}admin/{$module.backend}/results/{$item.id}/edit">Добавить дистанцию</a>
      <a class="button" href="{$host}admin/{$module.backend}/edit/{$item.id}">Вернуться к мероприятию</a></span>
		</div>
            {foreach $results as $event}
            
            <div class="event_items">
                <div class="string">
			<span class="center">{$event.event.distance}</span>
		</div>                

               
                
                    {foreach $event.results as $result}
                        
                           <input type="hidden" name="result[{$event.event.id}][{$result.id}][id]" value="{$result.id}" class="hidden" style="margin-left:5px;width:230px;">
			                     <input type="hidden" name="result[{$event.event.id}][{$result.id}][event_id]" value="{$event.event.id}" class="input" style="margin-left:5px;width:230px;">       
             
                           <input type="text" placeholder="name" value="{$result.member.name}" class="input" style="margin-left:5px;width:230px;">
			                     <input type="text" placeholder="email" name="result[{$event.event.id}][{$result.id}][member_mail]" value="{$result.member_mail}" class="input" style="margin-left:5px;width:230px;">
			                     <input type="text" placeholder="возрастная группа" name="result[{$event.event.id}][{$result.id}][age_group]" value="{$result.age_group}" class="input" style="margin-left:5px;width:130px;">
			                     <input type="text" placeholder="результат" name="result[{$event.event.id}][{$result.id}][result]" value="{$result.result}" class="input" style="margin-left:5px;width:130px;">
			   <br/>		   			   				   

                            
                        
                    {/foreach}
              <div class="newItem">
              <input type="hidden" name="result[{$event.event.id}][new][event_id]" value="{$event.event.id}" class="input" style="margin-left:5px;width:230px;">       
              <input type="text" placeholder="name" value="" class="input" style="margin-left:5px;width:230px;">
	            <input type="text" placeholder="email" name="result[{$event.event.id}][new][member_mail]" value="" class="input" style="margin-left:5px;width:230px;">
	            <input type="text" placeholder="возрастная группа" name="result[{$event.event.id}][new][age_group]" value="" class="input" style="margin-left:5px;width:130px;">
	            <input type="text" placeholder="результат" name="result[{$event.event.id}][new][result]" value="" class="input" style="margin-left:5px;width:130px;">
              
	            <br/>
              </div>
              
              
            </div>
            


		
		{/foreach}

<script>
  var members= ({json_encode($members)}).map(function(el){  el['label'] = el.name;  return el;});

  $(function() {
    


 
    $( "input[placeholder='name']" ).autocomplete({
      minLength: 0,
      source: members,
      focus: function( event, ui ) {
        $( event.target ).val( ui.item.name );
        return false;
      },
      select: function( event, ui ) {
         $( event.target.nextElementSibling ).val( ui.item.mail );
        return false;
      }
    });
    
    $( ".newItem a" ).click(function(el){
      $(el.target.parentElement.childNodes).not("a").clone().appendTo( el.target.parentElement )    
    });


    
  });
  </script>


		{if count($results)}
			<div class="string">
				<span class="center">
					<input class="button" type="submit" value="Сохранить">
				</span>
			</div>
		{/if}
	</form>
</div>