html, body {
	width: 100%;
	height: 100%;
}
html, body, form, fieldset {
	margin: 0px;
	padding: 0px;
}
body {
	position: relative;
	background: #e1e3ec;
	overflow-y: scroll;
}
body, select, input, div, span, font, textarea {
	font: 12px Tahoma, Arial, Verdana, sans-serif;
}
a, img, :focus, span {
	outline: none !important;
	border: none;
}
h1, h2, h3, h4 {
	margin-top: 0px;
}
button {
	border: none;
	cursor: pointer;
	background: transparent;
	margin: 0px;
	padding: 0px;
}


.clear {
	clear: both;
}
.center {
	text-align: center;
}
.none {
	display: none;
}

.nav-bg {
	background: #fff;
}
nav {
	width: 1010px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	background: #ebebeb;
	border: 1px solid #e8e8e8;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
}
nav .list {
	border-bottom: 1px solid #dadada;
	text-align: center;
	padding: 0px 0px 18px 0px;
}
nav .list>a {
	display: inline-block;
	overflow: hidden;
	height: 98px;
	width: 120px;
	text-align: center;
	padding: 28px 0px 0px 0px;
	text-decoration: none;
	vertical-align: top;
}
nav .list>a img {
	display: block;
	margin: 0px auto;
	padding: 0px 0px 8px 0px;
	height: 48px;
}
nav .list>a span {
	font-size: 13px;
	font-weight: bold;
	color: #464646;
	display: inline-block;
	padding: 5px 8px;
	vertical-align: bottom;
}
nav .list>a.a span {
	background: #f8f8f8;
}
nav .turn {
	height: 15px;
	border-top: 1px solid #fff;
	background: url(turn.png) no-repeat center 0px;
	cursor:pointer;
}
nav .turn.up {
	background: url(turn.png) no-repeat center -15px;
}
.menu-bg {
	background: url(menu.png) repeat-x center 0px;
	padding: 10px 0px 0px 0px;
	height: 50px;
}
menu {
	width: 1000px;
	height: 34px;
	background: #5184d2;
	margin: 0px auto;
	padding: 6px 6px 0px 6px;
}
menu a {
	background: #3a6aad;
	height: 14px;
	float: left;
	padding: 10px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin: 0px 6px 0px 0px;
}
menu a.active {
	background: #e1e3ec url(nav.png) repeat-x top;
	color: #000;
}
.content {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.content .empty {
	height:50px;
}
#main {
	width: 1012px;
	margin: 0px auto;
	padding: 0px 0px 10px 0px;
}
.block {
	position: relative;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 6px #bbbdc8;
	margin: 0px 0px;
}
#sidebar {
	width: 250px;
	float: left;
	padding: 0px 0px 0px 0px;
}
#sidebar .block {
	width: 215px;
	float: left;
}
#sidebar .block.pages {
	padding: 10px;
}
#sidebar .block.pages .page-link {
	position: relative;
	border-bottom: 1px solid #e1e3ec;
	margin: 0px 0px 0px 0px;
	min-height: 14px;
	overflow: hidden;
}
#sidebar .block.pages .page-link a {
	text-decoration: none;
}
#sidebar .block.pages .page-link>a {
	text-decoration: none;
	color: #0066cc;
	display: block;
	padding: 8px 0px;
}
#sidebar .block.pages .page-link .toolbar {
	position: absolute;
	top: -1px;
	right: 0px;
	height: 32px;
	background: #fff;
	border-top: 1px solid transparent;
	opacity: 0.7;
}
#sidebar .block.pages .page-link .toolbar img {
	padding: 6px 3px;
}
#sidebar .block.pages .page-link:hover .toolbar {
	display: block;
}
#sidebar .block.pages .page-link:hover .toolbar:hover {
	opacity: 1 !important;
}
#sidebar .block.pages .page-link:last-of-type {
	border-bottom: 1px solid #fff;
}
#sidebar .block.pages .page-link.active,
#sidebar .block.pages .page-link:hover {
	background: #5184d2;
	border-bottom: 1px solid #7ea8e8;
}
#sidebar .block.pages .page-link.active>a,
#sidebar .block.pages .page-link:hover>a {
	text-decoration: none;
	color: #fff;
	padding: 8px 5px;
}
#content {
	float: right;
	width: 760px;
	padding: 0px 0px 0px 0px;
}
#content .block {
	float: right;
	width: 760px;
}
#module-name {
	position: relative;
}
#module-name .translit {

}
#module-name #switch-translit {
	position: absolute;
	top: 0px;
	right: -1px;
	height: 40px;
	background: #e1e3ec;
	width: 62px;
	text-align: center;
	line-height: 20px;
	display: none;
	cursor: pointer;
	color: #000;
}
.seo-cont {
	display: none;
}
.br3, .page-link {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
}
.br4, .button, .input, #menu-builder .item {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.br5, menu, .block, footer {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
input.error, textarea.error {
	background:#ffdfdf;
}

.help {
	position: relative;
	display: inline-block;
	cursor: help;
	width: 20px;
	height: 13px;
	background: url(help.png) no-repeat right center;
}
.help div {
	position: absolute;
	z-index: 100;
	cursor: help;
	white-space: normal;
	left: 20px;
	top: 0px;
	display: none;
	width: 220px;
	padding: 6px 8px;
	background: #fff6c3;
	border: 1px solid #ffee88;
	box-shadow: 0 0 6px #bbbdc8;
}
.help:hover>div {
	display:block;
}
.help div:hover {
	display:block;
}
.setting {
	padding: 5px 0px;
}
.zebra {
	background: #efefef!important;
}
.string {
	display: inline-table;
	width: 100%;
	height: 60px;
	background: #fff;
}
.string>span {
	font-size: 15px;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	padding: 0px 12px 0px 12px;
	height: 60px;
}
.string>span a {
	display: inline-block;
	vertical-align: middle;
}
.string .left {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
}
.string .right {
	display: table-cell;
	vertical-align: middle;
	padding: 0px 12px 0px 12px;
	width: 75%;
}
.string .del {
	float: right;
	width: 32px;
	height: 36px;
	margin: 0px 0px 0px 20px;
	background: url(del.png) no-repeat center;
}
.string .edit {
	float: right;
	width: 32px;
	height: 36px;
	margin: 0px 0px 0px 20px;
	background: url(edit.png) no-repeat center;
}
.string .handle {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	margin: 0px 20px 0px 0px;
	background: url(handle.png) no-repeat center;
}
.string .handle:active {
	background: url(handle-active.png) no-repeat center;
}
.drag{
	background: #dee5f0!important;
}
.input {
	display: inline-block;
	width: 100%;
	padding: 8px 8px;
	border: #e1e3ec 1px solid;
	box-shadow: inset 0px 0px 4px #e1e3ec;
	font-size: 18px;
	color: #6b6b6b;
	margin: 0px 0px 0px -16px;
}
.check-box {
	display: inline-block;
	vertical-align: middle;
	height: 29px;
	width: 28px;
	background: url(check-box.png) no-repeat 0px 0px;
	margin: 0px 10px 0px 0px;
	cursor: pointer;
}
.check-box.on {
	background-position: 0px -29px;
}
.button {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-weight: normal;
	cursor: pointer;
	padding: 8px 10px 9px 10px;
	overflow: visible;
	border: none;
	background: url(button.png) repeat-x;
}
a.button.active {
	text-decoration: underline;
}
.add_photo {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 0px 10px;
	cursor: pointer;
	line-height: 36px;
	text-align: center;
	overflow: hidden;
	width: 200px;
}
.add_photo input{
	position: absolute;
	right: 0px;
	opacity: 0;
	height: 39px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	font-size: 100px;
	text-align: center;
}
#fancybox-left, #fancybox-right {
	bottom: 36px !important;
	width:10% !important;
}
#fancybox-left-ico, #fancybox-right-ico {
	margin-top: 21px !important;
}
#login {
	width: 333px;
	height: 352px;
	padding: 158px 76px 0px 76px;
	color: #ebebeb;
	background: url(login.png) no-repeat center bottom;
	margin: 0px auto;
}
#login h2 {
	padding: 0px 0px 30px 0px;
	margin: 0px;
	color: #ebebeb;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
#login .error {
	text-align: center;
	padding: 0px 0px 20px 0px;
}
#login .name {
	float: left;
	width: 82px;
	text-align: right;
	padding: 14px 10px 0px 0px;
	margin: 0px 0px 7px 0px;
	font-size: 15px;
}
#login .field {
	float: left;
	width: 220px;
	margin: 0px;
	margin: 0px 0px 7px 0px;
}
#login .field input {
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color: #1e4f8a;
	font-size: 16px;
	color:#ebebeb;
}
#login .submit{
	text-align: center;
	padding: 30px 0px 0px 0px;
}
.redactor {
	height: 300px;
	width: 99%;
}
.chzn-container-multi .chzn-choices {
	padding-right: 36px !important;
}
.chzn-container-multi .chzn-choices li {
	width: 100%;
}
/* menu */
#menu-builder {
	margin: 0px 0px;
}
#menu-builder .sample {
	display: none;
}
#menu-builder .parent {
	margin: 0px 0px 0px 60px;
}
#menu-builder>.parent {
	margin: 0px;
}
#menu-builder .item {
	background: #EFEFEF;
	text-align: left;
	padding: 4px;
	margin: 4px;
	height: 42px;
	display: inline-block;
	width: 99%;
	vertical-align: middle;
}
#menu-builder .item input {
	margin: 1px 0px;
	width: 300px;
}
#menu-builder .item  .up-down {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
#menu-builder .item  .del-add {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	float: right;
}
#menu-builder .item a {
	text-decoration: none;
	color: #111;
	padding: 1px;
	display: block;
}
#menu-builder .parent .parent .parent .parent .parent [href='#add'] {
	display: none;
}
.languages {
	margin: 0px auto;
}
.languages img {
	max-width: 16px;
	max-height: 16px;
	cursor: pointer;
	margin: 2px;
	vertical-align: middle;
	padding: 3px 4px;
}
.languages img.active {
	cursor: auto;
	background: #F8F8F8;
}
.languages img:hover {
	background: #F8F8F8;
}
footer {
	position: relative;
	width: 1000px;
	height: 34px;
	margin: -50px auto 0px auto;
	background: #5184d2;
	padding: 6px;
}

.request{
    font-weight: bold;
    color:red;
    margin-right: 2px;
}