{strip}
	<!DOCTYPE HTML>
	<html>
		<head>
			<meta charset="{$smarty.const.CHARSET}">
			<title>Сайт на профилактике!</title>
		</head>
		<body>
			<h1 style="text-align: center;">Сайт на профилактике!</h1>
		</body>
	</html>
{/strip}