// Color variables (appears count calculates by raw css)
@color0: #0192CB; // Appears 10 times
@color1: #e20025; // Appears 6 times
@color2: #ffffff; // Appears 5 times
@color3: #0192CB; // Appears 5 times
@color4: #f6f6f6; // Appears 3 times
@color5: #7b858b; // Appears 3 times
@color6: #3e3e3e; // Appears 3 times
@color7: #94a8b6; // Appears 2 times
@color8: #71a3c6; // Appears 2 times
@color9: #DCF0F8; // Appears 1 time
@color10: #7f7f7f; // Appears 1 time
@color11: #000000; // Appears 1 time
@color12: #0192CB; // Appears 1 time
@color13: #f2f5f3; // Appears 1 time
@color14: #637d99; // Appears 1 time

// Width variables (appears count calculates by raw css)
@width0: 1000px; // Appears 2 times
@width4: 220px; // Appears 3 times
@width5: 244px; // Appears 2 times
@width7: 80px; // Appears 4 times
@width8: 100%; // Appears 9 times

// Height variables (appears count calculates by raw css)
@height2: 165px; // Appears 2 times
@height6: 80px; // Appears 5 times
@height7: 100%; // Appears 3 times

* {
	margin: 0;
	padding: 0;
}
table {
	border-spacing: 0;
}
img {
	border: 0;
}
html {
	background:url(img/bg_bot.png) no-repeat left bottom @color2;
	margin: 0;
	min-height:@height7;
	padding: 0;
	width: @width8;
}
body {
	background: url(img/bg_top.png) no-repeat right top;
	background:url(img/bg_bot.png) no-repeat left bottom @color2;
	color: @color6;
	font: 14px Arial, Tahoma, Helvetica, Verdana;
	height: @height7;
	margin: 0;
	min-height:@height7;
	overflow-y: scroll;
	padding: 0;
	width: @width8;
}
a {
	color: @color3;
	font: 14px Arial, Tahoma, Helvetica, Verdana;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
input {
	font: 14px Arial, Tahoma, Helvetica, Verdana;
}
textarea {
	font: 14px Arial, Tahoma, Helvetica, Verdana;
}
h1 {
	color:@color0;
	font-family: 'Russo One', sans-serif;
	font-size: 18px;
	font-weight:normal;
	line-height:1;
	margin-bottom:10px;
}
h2 {
	color:@color0;
	font-family: 'Russo One', sans-serif;
	font-size: 18px;
	font-weight:normal;
	line-height:1;
	margin-bottom:10px;
}
h3 {
	color:@color0;
	font-family: 'Russo One', sans-serif;
	font-size: 18px;
	font-weight:normal;
	line-height:1;
	margin-bottom:10px;
}
ul {
	padding: 0px 0px 0px 12px;
	li {
		padding-bottom: 10px;
	}
}
p {
	margin-bottom:10px;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.clear {
	clear: both;
}
.table {
	display:table;
	table-layout:fixed;
}
.tc {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.center {
	display: block;
	text-align: center;
}
.wrapper {
	margin: 0px auto;
	width: @width0;
}
.main {
	width:@width8;
	td {
		vertical-align: top;
	}
}
td.min-height {
}
.min-height {
}
.left {
	padding: 0px 20px 0px 0px;
	width: @width5;
}
.right {
	padding: 0px 0px 0px 20px;
	width: @width5;
}
.content {
	background:@color9;
	padding:15px 20px;
	position: relative;
}
header {
	height: 102px;
	position: relative;
}
.logo {
	left: 0px;
	position: absolute;
	top: 10px;
	img {
		height: @height6;
	}
}
.phone {
	color:@color11;
	font-family: 'Russo One', sans-serif;
	font-size:18px;
	left:410px;
	position:absolute;
	top:38px;
	a {
		color:@color0;
		font-family: 'Russo One', sans-serif;
		font-size:18px;
	}
	span {
		color:@color0;
		display:block;
		font-size:24px;
	}
}
.mail {
	color:@color0;
	display:block;
	font-family: 'Russo One', sans-serif;
	font-size:18px;
	left:750px;
	position:absolute;
	top:65px;
}
nav {
	background:@color0;
	display:block;
	table {
		border-collapse:collapse;
		height:53px;
		width:@width8;
		td {
			text-align:center;
			vertical-align:middle;
			width:20%;
		}
	}
	a {
		border-left: 1px solid @color12;
		color:@color2;
		display:block;
		font-size:18px;
		padding:3px 0;
		text-decoration:none;
		&:hover {
			color:@color8;
		}
	}
	a.first {
		border:none;
	}
	a.active {
		color:@color8;
	}
	.fm {
		position: relative;
		&:hover {
			.bm {
				display: block;
			}
		}
	}
	.bm {
		background:@color0;
		display: none;
		left:0px;
		min-width: @width8;
		padding-top: 10px;
		position: absolute;
		text-align: left;
		top:100%;
		z-index: 10;
		a {
			border: none;
			display: block;
			padding:3px 5px;
			white-space: nowrap;
		}
	}
}
.breadcrumbs {
	color: @color3;
	margin-bottom: 10px;
}
.banner {
	padding:16px 0 20px;
	img {
		max-width:@width0;
	}
}
footer {
	border-top: 1px solid @color14;
	height: 104px;
	margin-top:30px;
	position: relative;
	.copy {
		left: 0px;
		position: absolute;
		top: 20px;
	}
	.sr {
		background: url(img/sr.png) right center no-repeat;
		color: @color6;
		padding: 0px 46px 0px 0px;
		position: absolute;
		right: 0px;
		text-decoration: none;
		top: 20px;
		u {
			color: @color3;
			text-decoration: underline;
		}
		&:hover {
			u {
				text-decoration:none;
			}
		}
	}
}
.fmenu {
	position:absolute;
	right:0px;
	top:20px;
	a {
		margin-left:100px;
	}
}
.fphone {
	font-size: 16px !important;
	left:267px;
	position:absolute;
	top:60px;
}
.fmail {
	font-size: 16px !important;
	left:561px;
	position:absolute;
	top:60px;
	a {
		font-size: 16px !important;
	}
}
.fvk {
	font-size: 16px;
	position:absolute;
	right:0px;
	top:60px;
}
.block {
	margin-bottom:15px;
	.all {
		display:block;
		text-align:right;
	}
}
.news_item {
	border-bottom:1px solid @color7;
	margin-bottom:15px;
	padding-bottom:15px;
	.datetime {
		color:@color6;
		font-size:12px;
		padding-bottom:5px;
	}
}
.news_item.no_bord {
	border:none;
	margin-bottom:0;
}
.short_item {
	margin:15px 0;
	.pic {
		background:@color13;
		display:block;
		float:left;
		height:@height6;
		margin-right:20px;
		margin-top:3px;
		width:@width7;
		.table {
			height:@height6;
			width:@width7;
		}
		.tc {
			height:@height6;
			width:@width7;
		}
		img {
			max-height:@height6;
			max-width:@width7;
		}
	}
	.link {
		display:block;
		margin-bottom:5px;
	}
}
.short_item>div {
	line-height:1.45;
	overflow:hidden;
}
.short_item.future {
	font-size: 16px;
	.link {
		font-size: 18px;
		font-weight: bold;
	}
}
.paginator {
	text-align:center;
	a {
		font-family:Tahoma, Geneva, sans-serif;
		margin:0 5px;
	}
	b {
		font-family:Tahoma, Geneva, sans-serif;
		margin:0 5px;
	}
}
.full_item {
	margin-top:15px;
}
.full_item.feed {
	border-bottom:1px solid @color7;
	margin-bottom:15px;
	padding-bottom:10px;
}
.feedback {
	font-size:13px;
	div {
		span {
			color:@color1;
		}
	}
	input[type=text] {
		-khtml-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-webkit-border-radius: 3px;
		background:@color4;
		border-radius: 3px;
		border:1px solid @color5;
		display:block;
		margin:3px 0 7px;
		padding: 2px 5px;
		width:320px;
	}
	textarea {
		-khtml-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-webkit-border-radius: 3px;
		background:@color4;
		border-radius: 3px;
		border:1px solid @color5;
		display:block;
		height:100px;
		margin-bottom:15px;
		margin:3px 0 7px;
		padding: 2px 5px;
		width:520px;
	}
	select {
		-khtml-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-webkit-border-radius: 3px;
		background:@color4;
		border-radius: 3px;
		border:1px solid @color5;
		display:block;
		margin:3px 0 7px;
		padding: 2px 5px;
		width: 332px;
	}
	input[type=text].error-border {
		border-color:@color1;
	}
	textarea.error-border {
		border-color:@color1;
	}
	select.error-border {
		border-color:@color1;
	}
	input[name=captcha] {
		width:110px;
	}
	input[type=submit] {
		-khtml-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-webkit-border-radius: 3px;
		background:@color0;
		border-radius: 3px;
		border:none;
		color:@color2;
		cursor:pointer;
		padding: 7px 15px;
	}
}
.req_txt {
	color:@color10;
	font-size:12px;
	margin:5px 0 10px;
}
img.captcha {
	float:left;
	margin-bottom:10px;
	margin-right:10px;
}
div.captcha {
	padding:14px 0 5px;
}
.red {
	color:@color1;
	display:none;
	padding:5px 0 10px;
}
.ok {
	color:@color3;
	font-size:18px;
	padding:5px 10px;
}
.soon_event {
	margin: 0 0 20px;
	.image {
		margin: 10px 0;
		text-align: center;
	}
}
a.button {
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	background:@color0;
	border-radius: 3px;
	border:none;
	color:@color2;
	display:inline-block;
	height:30px;
	line-height:30px;
	margin: 5px 0;
	padding:0 15px;
	text-decoration:none;
	&:hover {
		background:rgba(5,110,67,.8);
	}
}
.register_event {
	margin-top:20px;
}
.member_exist {
	color:@color1;
	display:none;
	padding:5px 0 10px;
}
.success {
	color:@color3;
	display:none;
	font-size:18px;
	padding:5px 10px;
}
.event_members {
	display: none;
	ul {
		display: table;
		list-style: none;
		margin: 10px 0;
		padding: 0;
		width: @width8;
	}
	li {
		display: block;
		display: table-row;
		width: @width8;
		span {
			display: table-cell;
			padding: 5px;
			vertical-align: middle;
		}
	}
	li.even {
		background: rgba(0,0,0,.1);
	}
}
.event_volunteers {
	display: none;
	ul {
		display: table;
		list-style: none;
		margin: 10px 0;
		padding: 0;
		width: @width8;
	}
	li {
		display: block;
		display: table-row;
		width: @width8;
		span {
			display: table-cell;
			padding: 5px;
			vertical-align: middle;
		}
		even {
			background: rgba(0,0,0,.1);
		}
	}
}
.gallery_items {
	a.fleft {
		display: block;
		margin-bottom: 12px;
		margin-left: 12px;
		text-align: center;
		width:@width4;
	}
	a.fleft.no_marg {
		margin-left: 0;
	}
	.pic {
		display: block;
		font-size: 0;
		height: @height2;
		line-height: @height2;
		margin-bottom: 5px;
		text-align: center;
		vertical-align: middle;
		width:@width4;
		img {
			max-height: @height2;
			max-width:@width4;
			vertical-align: middle;
		}
	}
}
.links {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin: 0;
			padding: 0;
			padding: 2px 0;
		}
		ul {
			display: none;
			margin-left: 20px;
		}
	}
}