﻿* {
  margin: 0;
  padding: 0;
}
table {
  border-spacing: 0;
}
img {
  border: 0;
}
html {
  background: url(img/bg_bot.png) no-repeat left bottom #ffffff;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
}
body {
  background: url(img/bg_top.png) no-repeat right top;
  color: #3e3e3e;
  font: 14px Arial, Tahoma, Helvetica, Verdana;
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}
a {
  color: #346083;
  font: 14px Arial, Tahoma, Helvetica, Verdana;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
input {
  font: 14px Arial, Tahoma, Helvetica, Verdana;
}
textarea {
  font: 14px Arial, Tahoma, Helvetica, Verdana;
}
h1 {
  color: #05436e;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 10px;
}
h2 {
  color: #05436e;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 10px;
}
h3 {
  color: #05436e;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 10px;
}

ol li {
  margin-left: 20px;
}

ul {
  padding: 0px 0px 0px 12px;
}

ul li {
  padding-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clear {
  clear: both;
}
.table {
  display: table;
  table-layout: fixed;
}
.tc {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.center {
  display: block;
  text-align: center;
}
.wrapper {
  margin: 0px auto;
  width: 1000px;
}
.main {
  width: 100%;
}
.main td {
  vertical-align: top;
}
.left {
  padding: 0px 20px 0px 0px;
  width: 244px;
}

.left .panel {
  width: 220px;
}


.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.panel input[type=submit] {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #05436e;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 7px 15px;
}
.panel a.button {
   
    margin: 5px 5px;
    padding: 0 5px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent; 
}
h3.panel-heading{
  font-family: inherit;
}

table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.panel-primary {
  border-color: #337ab7;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-primary > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #05436e;
}
.panel-info > .panel-heading {
  color: #fff;
  background-color: #05436e;
  border-color: #05436e;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #05436e;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}

.right {
  padding: 0px 0px 0px 20px;
  width: 244px;
}
.content {
  background: #e8eaf4;
  padding: 15px 20px;
  position: relative;
}
header {
  height: 102px;
  position: relative;
}
.logo {
  left: 0px;
  position: absolute;
  top: 10px;
}
.logo img {
  height: 80px;
}
.phone {
  color: #000000;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  left: 410px;
  position: absolute;
  top: 38px;
}
.phone a {
  color: #05436e;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
}
.phone span {
  color: #05436e;
  display: block;
  font-size: 24px;
}
.mail {
  color: #05436e;
  display: block;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  left: 750px;
  position: absolute;
  top: 65px;
}
nav {
  background: #05436e;
  display: block;
}
nav table {
  border-collapse: collapse;
  height: 53px;
  width: 100%;
}
nav table td {
  text-align: center;
  vertical-align: middle;
  width: 20%;
}
nav a {
  border-left: 1px solid #3b7197;
  color: #ffffff;
  display: block;
  font-size: 18px;
  padding: 3px 0;
  text-decoration: none;
}
nav a:hover {
  color: #71a3c6;
}
nav a.first {
  border: none;
}
nav a.active {
  color: #71a3c6;
}
nav .fm {
  position: relative;
}
nav .fm:hover .bm {
  display: block;
}
nav .bm {
  background: #05436e;
  display: none;
  left: 0px;
  min-width: 100%;
  padding-top: 10px;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 10;
}
nav .bm a {
  border: none;
  display: block;
  padding: 3px 5px;
  white-space: nowrap;
}
.breadcrumbs {
  color: #346083;
  margin-bottom: 10px;
}
.banner {
  padding: 16px 0 20px;
}
.banner img {
  max-width: 1000px;
}
footer {
  border-top: 1px solid #637d99;
  height: 104px;
  margin-top: 30px;
  position: relative;
}
footer .copy {
  left: 0px;
  position: absolute;
  top: 20px;
}
footer .sr {
  background: url(img/sr.png) right center no-repeat;
  color: #3e3e3e;
  padding: 0px 46px 0px 0px;
  position: absolute;
  right: 0px;
  text-decoration: none;
  top: 20px;
}
footer .sr u {
  color: #346083;
  text-decoration: underline;
}
footer .sr:hover u {
  text-decoration: none;
}
.fmenu {
  position: absolute;
  right: 0px;
  top: 20px;
}
.fmenu a {
  margin-left: 100px;
}
.fphone {
  font-size: 16px !important;
  left: 267px;
  position: absolute;
  top: 60px;
}
.fmail {
  font-size: 16px !important;
  left: 561px;
  position: absolute;
  top: 60px;
}
.fmail a {
  font-size: 16px !important;
}
.fvk {
  font-size: 16px;
  position: absolute;
  right: 0px;
  top: 60px;
}
.block {
  margin-bottom: 15px;
}
.block .all {
  display: block;
  text-align: right;
}
.news_item {
  border-bottom: 1px solid #94a8b6;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.news_item .datetime {
  color: #3e3e3e;
  font-size: 12px;
  padding-bottom: 5px;
}
.news_item.no_bord {
  border: none;
  margin-bottom: 0;
}
.short_item {
  margin: 15px 0;
}
.short_item .pic {
  background: #f2f5f3;
  display: block;
  float: left;
  height: 80px;
  margin-right: 20px;
  margin-top: 3px;
  width: 80px;
}
.short_item .pic .table {
  height: 80px;
  width: 80px;
}
.short_item .pic .tc {
  height: 80px;
  width: 80px;
}
.short_item .pic img {
  max-height: 80px;
  max-width: 80px;
}
.short_item .link {
  display: block;
  margin-bottom: 5px;
}
.short_item > div {
  line-height: 1.45;
  overflow: hidden;
}
.short_item.future {
  font-size: 16px;
}
.short_item.future .link {
  font-size: 18px;
  font-weight: bold;
}
.paginator {
  text-align: center;
}
.paginator a {
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0 5px;
}
.paginator b {
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0 5px;
}
.full_item {
  margin-top: 15px;
}
.full_item.feed {
  border-bottom: 1px solid #94a8b6;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.feedback {
  font-size: 13px;
}
.feedback div span {
  color: #e20025;
}
.feedback input[type=text] {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #f6f6f6;
  border-radius: 3px;
  border: 1px solid #7b858b;
  display: block;
  margin: 3px 0 7px;
  padding: 2px 5px;
  width: 320px;
}
.feedback textarea {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #f6f6f6;
  border-radius: 3px;
  border: 1px solid #7b858b;
  display: block;
  height: 100px;
  margin-bottom: 15px;
  margin: 3px 0 7px;
  padding: 2px 5px;
  width: 520px;
}
.feedback select {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #f6f6f6;
  border-radius: 3px;
  border: 1px solid #7b858b;
  display: block;
  margin: 3px 0 7px;
  padding: 2px 5px;
  width: 332px;
}
.feedback input[type=text].error-border {
  border-color: #e20025;
}
.feedback textarea.error-border {
  border-color: #e20025;
}
.feedback select.error-border {
  border-color: #e20025;
}
.feedback input[name=captcha] {
  width: 110px;
}
.feedback input[type=submit] {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #05436e;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 7px 15px;
}
.req_txt {
  color: #7f7f7f;
  font-size: 12px;
  margin: 5px 0 10px;
}
img.captcha {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
div.captcha {
  padding: 14px 0 5px;
}
.red {
  color: #e20025;
  display: none;
  padding: 5px 0 10px;
}
.ok {
  color: #346083;
  font-size: 18px;
  padding: 5px 10px;
}
.soon_event {
  margin: 0 0 20px;
}
.soon_event .image {
  margin: 10px 0;
  text-align: center;
}
a.button {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #05436e;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 5px 0;
  padding: 0 15px;
  text-decoration: none;
}
a.button:hover {
  background: rgba(5, 67, 110, 0.8);
}
.register_event {
  margin-top: 20px;
}
.member_exist {
  color: #e20025;
  display: none;
  padding: 5px 0 10px;
}
.success {
  color: #346083;
  display: none;
  font-size: 18px;
  padding: 5px 10px;
}
.event_members {
  display: none;
}
.event_members ul, .event_items ul {
  display: table;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
.event_members li,.event_items li {
  display: block;
  display: table-row;
  width: 100%;
}
.event_members li span, .event_items li span {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
}
.event_members li.even, .event_items li:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}
.event_volunteers {
  display: none;
}
.event_volunteers ul {
  display: table;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
.event_volunteers li {
  display: block;
  display: table-row;
  width: 100%;
}
.event_volunteers li span {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
}
.event_volunteers li even {
  background: rgba(0, 0, 0, 0.1);
}
.gallery_items a.fleft {
  display: block;
  margin-bottom: 12px;
  margin-left: 12px;
  text-align: center;
  width: 220px;
}
.gallery_items a.fleft.no_marg {
  margin-left: 0;
}
.gallery_items .pic {
  display: block;
  font-size: 0;
  height: 165px;
  line-height: 165px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  width: 220px;
}
.gallery_items .pic img {
  max-height: 165px;
  max-width: 220px;
  vertical-align: middle;
}
.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.links ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 2px 0;
}
.links ul ul {
  display: none;
  margin-left: 20px;
}
