<div class="phone">
    <span>DneprRun&nbsp;</span>
    <a href="https://vk.com/dneprrun" target="_blank">Мы вКонтакте</a>
</div>
<a class="mail" href="https://www.facebook.com/dneprrun" target="_blank">Мы в facebook</a>