<div class="fphone">тел.: <b>({$f_set.settings.ph1_code}) {$f_set.settings.ph1}</b></div>
<div class="fmail">e-mail: <a href="mailto:{$f_set.settings.mail}">{$f_set.settings.mail}</a></div>
<a class="fvk" href="https://vk.com/dneprrun" target="_blank">Мы вКонтакте</a>