<div class="block">
	{foreach $block_items as $block_item}
		<div>
			<div class="datetime">{$block_item.datetime}</div>
			<br>
			<a class="link" href="{$host}{$language_prefix}{$run_block.frontend}/{$block_item.url}">{$block_item.name}</a>
			{if $block_item.pic}
				<a class="pic" href="{$host}{$language_prefix}{$run_block.frontend}/{$block_item.url}">
					<img src="{$block_item.pic}" alt="{$block_item.name}">
				</a>
			{/if}
			<div>{$block_item.short_cont}</div>
			<div class="clear"></div>
		</div>
	{/foreach}
	<a class="all" href="{$host}{$language_prefix}{$run_block.frontend}"><strong>{$l.news1}</strong></a>
</div>