 {literal}
<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=27360398&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/27360398/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
  style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:27360398,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c)
    {
      (w[c] = w[c] || []).push(function()
        {
          try
          {
            w.yaCounter27360398 = new Ya.Metrika(
              {
                id:27360398,
                webvisor:true,
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
              });
          } catch(e)
          {
          }
        });

      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function ()
      {
        n.parentNode.insertBefore(s, n);
      };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]")
      {
        d.addEventListener("DOMContentLoaded", f, false);
      } else
      {
        f();
      }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
  <div><img src="//mc.yandex.ru/watch/27360398" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script>
  (function(i,s,o,g,r,a,m)
    {
      i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
      {
        (i[r].q=i[r].q||[]).push(arguments)
      },i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68481041-1', 'auto');
  ga('send', 'pageview');

</script>


{/literal}