<h3>
  Мои данные
</h3>
<h4> Ваш уровень VDOT: {$profile['vdot']}</h4>
<br/>

<form method="post" class="feedback">
  <div>
    Email
  </div>
  <input name="user[mail]" type="text" value="{$user['mail']}" data-required="name">

  <div>
    Клуб
  </div>
  <input name="profile[club]" type="text" value="{$profile['club']}" data-required="name">
  
  <div>
    Город
  </div>
  <input name="profile[city]" type="text" value="{$profile['city']}" data-required="city">
  <input type="submit" class="button" value="Cохранить">
</form>
<br/>
<h3>
  Мои результаты
  
</h3>

{foreach $results as $evt_group}

<a href="/sorevnovanija/{$evt_group.url}"> <h3> {$evt_group.name}</h3></a>
{foreach $evt_group.events as $evt}
<h4>
  {$evt.event.distance} {$evt.results[0].result}
</h4>

{/foreach}
<br/>
{/foreach}

